aws_credentials_file = "~/.aws/credentials"

rafay_config_file = "~/.rafay/cli/config.json"
rafay_cluster_name = "cluster-name-in-rafay"
rafay_project = "project-in-rafay"
rafay_import = false

resource_name_prefix = "yourname-ec2-kubeadm"

kubernetes_version = "1.24.4"
containerd_release_version = "1.6.8"
runc_release_version = "1.1.4"

instance_type = "t2.xlarge"

aws_keypair_private_key = "~/.ssh/id_rsa"
aws_keypair_public_key = "~/.ssh/id_rsa.pub"

worker_count = 3
master_count = 1
